In [19]:
# DATA NORMALISATION by
# 3. Z-Score / Standard Score

import pandas as pd
path = 'D:/My Programming Studies/Tutedude/10_Data_Analysis/CONTENT FILES/data.xlsx'
df = pd.read_excel(path)
print(df)

    sr. no     A   B   C     D   E  Length
0        1   2.0   1   5   3.0   4    71.0
1        2   4.0   3  10   6.0   8    85.0
2        3   6.0   5  15   9.0  12    96.0
3        4   8.0   7  20  12.0  16    56.0
4        5  10.0   9  25  15.0  20    84.0
5        6  12.0  11  30  18.0  24    89.0
6        7  14.0  13  35  21.0  28    77.0
7        8  16.0  15  40  24.0  32    66.0
8        9  18.0  17  45  27.0  36    55.0
9       10  20.0  19  50  30.0  40    99.0
10      11   NaN  21  55   NaN  44     NaN

In [20]:
headers = ["Sr.No.", "Even", "Odd", "Multiple of 5", "Multiple of 3", "Multiple of 4", "Lengths"]
df.columns = headers
df.head(5)

   Sr.No.  Even  Odd  Multiple of 5  Multiple of 3  Multiple of 4  Lengths
0       1   2.0    1              5            3.0              4     71.0
1       2   4.0    3             10            6.0              8     85.0
2       3   6.0    5             15            9.0             12     96.0
3       4   8.0    7             20           12.0             16     56.0
4       5  10.0    9             25           15.0             20     84.0

In [22]:
# 3. Z-Score / Standard Score
df["Lengths"] = (df["Lengths"] - df["Lengths"].mean()) / df["Lengths"].std()

In [23]:
df.head(5)

   Sr.No.  Even  Odd  Multiple of 5  Multiple of 3  Multiple of 4   Lengths
0       1   2.0    1              5            3.0              4 -0.437161
1       2   4.0    3             10            6.0              8  0.462876
2       3   6.0    5             15            9.0             12  1.170048
3       4   8.0    7             20           12.0             16 -1.401486
4       5  10.0    9             25           15.0             20  0.398588

In [24]:
print(df)

    Sr.No.  Even  Odd  Multiple of 5  Multiple of 3  Multiple of 4   Lengths
0        1   2.0    1              5            3.0              4 -0.437161
1        2   4.0    3             10            6.0              8  0.462876
2        3   6.0    5             15            9.0             12  1.170048
3        4   8.0    7             20           12.0             16 -1.401486
4        5  10.0    9             25           15.0             20  0.398588
5        6  12.0   11             30           18.0             24  0.720029
6        7  14.0   13             35           21.0             28 -0.051431
7        8  16.0   15             40           24.0             32 -0.758602
8        9  18.0   17             45           27.0             36 -1.465774
9       10  20.0   19             50           30.0             40  1.362913
10      11   NaN   21             55            NaN             44       NaN