In [25]:
# BINNING
# 1. NUMERIC TO CATAGORIC

import pandas as pd
path = 'D:/My Programming Studies/Tutedude/10_Data_Analysis/CONTENT FILES/data.xlsx'
df = pd.read_excel(path)
print(df)

    sr. no     A   B   C     D   E  Length
0        1   2.0   1   5   3.0   4    71.0
1        2   4.0   3  10   6.0   8    85.0
2        3   6.0   5  15   9.0  12    96.0
3        4   8.0   7  20  12.0  16    56.0
4        5  10.0   9  25  15.0  20    84.0
5        6  12.0  11  30  18.0  24    89.0
6        7  14.0  13  35  21.0  28    77.0
7        8  16.0  15  40  24.0  32    66.0
8        9  18.0  17  45  27.0  36    55.0
9       10  20.0  19  50  30.0  40    99.0
10      11   NaN  21  55   NaN  44     NaN

In [26]:
headers = ["Sr.No.", "Even", "Odd", "Multiple of 5", "Multiple of 3", "Multiple of 4", "Lengths"]
df.columns = headers
df.head(5)

   Sr.No.  Even  Odd  Multiple of 5  Multiple of 3  Multiple of 4  Lengths
0       1   2.0    1              5            3.0              4     71.0
1       2   4.0    3             10            6.0              8     85.0
2       3   6.0    5             15            9.0             12     96.0
3       4   8.0    7             20           12.0             16     56.0
4       5  10.0    9             25           15.0             20     84.0

In [28]:
# 1. NUMERIC TO CATAGORIC
import numpy as np
bins = np.linspace(min(df["Lengths"]), max(df["Lengths"]), 4)

In [29]:
group_names = ["Low", "Medium", "High"]

In [31]:
df["Length-Binned"] = pd.cut(df["Lengths"], bins, labels = group_names, include_lowest = True)

In [32]:
df.head(5)

,Sr.No.,Even,Odd,Multiple of 5,Multiple of 3,Multiple of 4,Lengths,Length-Binned
0,1,2.0,1,5,3.0,4,71.0,Medium
1,2,4.0,3,10,6.0,8,85.0,High
2,3,6.0,5,15,9.0,12,96.0,High
3,4,8.0,7,20,12.0,16,56.0,Low
4,5,10.0,9,25,15.0,20,84.0,Medium

In [33]:
print(df)

    Sr.No.  Even  Odd  Multiple of 5  Multiple of 3  Multiple of 4  Lengths  \
0        1   2.0    1              5            3.0              4     71.0
1        2   4.0    3             10            6.0              8     85.0
2        3   6.0    5             15            9.0             12     96.0
3        4   8.0    7             20           12.0             16     56.0
4        5  10.0    9             25           15.0             20     84.0
5        6  12.0   11             30           18.0             24     89.0
6        7  14.0   13             35           21.0             28     77.0
7        8  16.0   15             40           24.0             32     66.0
8        9  18.0   17             45           27.0             36     55.0
9       10  20.0   19             50           30.0             40     99.0
10      11   NaN   21             55            NaN             44      NaN

   Length-Binned
0         Medium
1           High
2           High
3            Low
4         Medium
5           High
6         Medium
7            Low
8            Low
9           High
10           NaN